body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
	color: #000000;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

.vline {
	background-color: #000000;
	width: 1px;
}

.info_table {
	background-color: #fafae0;
}

.info_text {
	font-family: sans-serif;
	font-size: small;
	color: #555555;
	margin: 0px;
}

.title_text {
	font-family: sans-serif;
	font-size: 60px;
}

.subtitle_text {
	font-family: sans-serif;
	font-size: 20px;
}

.sidebar_table {
	background-color: #ffffff;
	margin: 20px;
}

.sidebar_heading {
	font-family: sans-serif;
	color: #000000;
	font-weight: bold;
	margin: 3px;
	white-space: nowrap 
}

.sidebar_link {
	font-family: sans-serif;
	color: #000000;
	margin: 3px;
	margin-left: 6px;
	white-space: nowrap
}

.content_table {
	background-color: #ffffff;
	margin: 40px;
}

